
.header-img {
    width: 100%;
    height: 60vh;
    background-size: 100% 100%;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}

a {
    text-decoration: none;
  }
  
li{
      list-style: none;
}

.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: beige;
    position: relative;
}

.style-card {
    margin: 10px 30px 10px 30px;
}

#order {
    display: none;
}

.flex-init {
    display: flex;
    justify-content: flex-end;
}

.flex-end {
    display: flex;
    justify-content: flex-start;
}